.DS_Store
node_modules/
# /dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# unuse static
/static/

/other/
# proxy server
/proxy/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
