$base:100;
$theme-color:#e20000;

@mixin build-transition($name) {
  .#{$name}-left-enter,
  .#{$name}-right-leave-to {
    transform: translate3d(100%,0,0);
  }
  .#{$name}-left-leave-to,
  .#{$name}-right-enter {
    transform: translate3d(-100%,0,0);
  }
  .#{$name}-right-enter-active,
  .#{$name}-left-enter-active,
  .#{$name}-right-leave-active,
  .#{$name}-left-leave-active, {
    transition: transform .4s;
    position: absolute;
  }
}